<div class="head-color header-main space-between-content row">
  <h1 class="welcome-text col-md-6">
    <i class="fa fa-tachometer" aria-hidden="true"></i>
    Speed Test Internet
  </h1>
  <div class="text-ip-head text-center ip-box col-md-2">
    <div class="content-title"><i class="fa fa-street-view fa-2x space-title" aria-hidden="true"></i>
      <h4>IP ADDRESS</h4>
    </div>
    <div class="content-detail text-ip">
      <h5 id="ip_address">-</h5>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="text-ip-head text-center ip-box col-md-2">
    <div class="content-title"><i class="fa fa-building fa-2x space-title" aria-hidden="true"></i>
      <h4>SERVER</h4>
    </div>
    <div class="content-detail text-ip">
      <h5 id="server">- </h5>
    </div>
  </div>
</div>
<div class="row text-center d-flex justify-content-around space-between-content-main">
  <div class="d-flex flex-column speed-detail-box-ping">
      <div class="test d-flex text-center space-between-content"><i class="fa fa-rss fa-3x space-title color-ping" aria-hidden="true"></i>
          <h2>PING</h2>
      </div>
      <div class="text-center text-detail-color">
          <h3 id="ping">0 MS </h3>
      </div>
  </div>
  <div class="d-flex flex-column speed-detail-box-download">
      <div class="test d-flex text-center space-between-content"><i class="fa fa-arrow-circle-o-down color-download fa-3x space-title" aria-hidden="true"></i>
          <h2>DOWLOAD</h2>
      </div>
      <div class="text-center text-detail-color">
          <h3 id="download">0 Mbps</h3>
      </div>
  </div>
  <div class="d-flex flex-column speed-detail-box-upload">
      <div class="test d-flex text-center space-between-content"><i class="fa fa-arrow-circle-o-up color-upload  fa-3x space-title" aria-hidden="true"></i>
          <h2>UPLOAD</h2>
      </div>
      <div class="text-center text-detail-color">
          <h3 id="upload">0 Mbps</h3>
      </div>
  </div>
</div>
<div class="row text-center space-between-content">
  <button class="btn-test" id="go">GO</button>
</div>
<div class="row text-center space-between-content"></div>