extends layout

block content
  center.head-color
    h1 Welcome to #{title}
  block container
    .row.text-center.space-between-content
      .col-4
        .test
          h1 PING  
      .col-4
        .test
          h1 DOWLOAD
      .col-4
        .test
          h1 UPLOAD
    .row.text-center.space-between-content
      button.btn.btn-danger click me!
    .row.text-center.space-between-content
      div#data Data
    .row.text-center.space-between-content
      .col-4
        .ldBar.label-center(style="width:50%;height:50%;margin:auto" data-value="35" data-preset="circle")
      .col-4
        .ldBar.label-center(style="width:50%;height:50%;margin:auto" data-value="35" data-preset="circle")
      .col-4
        .ldBar.label-center(style="width:50%;height:50%;margin:auto" data-value="35" data-preset="circle")
    .row.text-center.space-between-content
      button#test.btn.btn-info Test 
      
