extends layout

block content
  center.head-color
    h1 Welcome to #{title}
  block container
    .row.text-center
      .col-4
        .test
          h1 PING  
      .col-4
        .test
          h1 DOWLOAD
      .col-4
        .test
          h1 UPLOAD
    .row.text-center
      button.btn.btn-danger click me!
    
