extends layout

block content
  center.head-color
    h1.space-between-content-title Welcome to #{title}
  block container
    .row.text-center
      .col-6.text-white
        h4 IP ADDRESS
      .col-6.text-white
        h4 IP SERVER
    .row.text-center.space-between-content
      .col-6.text-white
        h5#ip_address -
      .col-6.text-white
        h5#server -
    .row.text-center.space-between-content
      .col-4
        .test
          h2 PING  
      .col-4
        .test
          h2 DOWLOAD
      .col-4
        .test
          h2 UPLOAD   
    .row.text-center.space-between-content
      .col-4.text-detail-color
        h3#ping 0 MS
      .col-4
        .ldBar.label-center(style="width:50%;height:50%;margin:auto" data-value="0" data-preset="circle")
        h2#download 0 Mbps
      .col-4
        .ldBar.label-center(style="width:50%;height:50%;margin:auto" data-value="0" data-preset="circle")
        h2#upload 0 Mbps
    .row.text-center.space-between-content
      button#test.btn.btn-info Test 
    .row.text-center.space-between-content
    
      
