<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet', href='/stylesheets/font-awesome.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton|Hammersmith+One|Passion+One|Ropa+Sans|Russo+One|Vollkorn+SC" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/loading-bar.css">
  <link rel='stylesheet', href='/stylesheets/style.css'>
  <title>Speed Test Internet</title>
</head>
<body>
  {{{body}}}
  <script src="/jquery/jquery.js"></script>
  <script src="/javascripts/loading-bar.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
