body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #475e84
}

a {
  color: #00B7FF;
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
  align-items: center;
  justify-content: center;  
}
.space-between-content-title{
  margin-bottom: 6rem;
}
.space-between-content{
  margin-bottom: 3rem;
}
.ldBar-label {
  color:#eaf2ff;
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 0 0 0px !important;
}
.head-color{
  color: white;
}
.text-detail-color{
  color:#eaf2ff;
}
.test{
  color: ivory;
}
