body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #475e84
}

a {
  color: #00B7FF;
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
  align-items: center;
  justify-content: center;  
}

.space-between-content{
  margin-bottom: 10rem;
}

.head-color{
  color: white;
}

.test{
  color: red;
}
