body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #475e84
}

a {
  color: #00B7FF;
}
.text-white{
  color: white;
}
.text-ip-head{
  color: #bcc9ff;
}
h4{
  margin-bottom: 0px;
}
h2{
  margin-bottom: 0px;
}
.space-below{
  margin-bottom: 0.6rem;
}
.space-title{
  margin-right: 0.5rem;
}
.color-download{
  color: #7ce4cd;
}
.color-upload{
  color: #f5a3ff;
}
.color-ping{
  color:#ffb184;
}
.text-ip{
  color: #909cce;
}
.text-center{
  text-align: center;
  align-items: center;
  justify-content: center;  
}
.space-between-content-title{
  margin-bottom: 6rem;
}
.space-between-content{
  margin-bottom: 4rem;
}
.space-between-content-main{
  margin-bottom: 12rem;
}
.ldBar-label {
  color:#eaf2ff;
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 0 0 0px !important;
}
.head-color{
  color: white;
}
.text-detail-color{
  color:#eaf2ff;
}
.test{
  color: ivory;
}
